html{
  font-family: 'Open Sans' , sans-serif;
  /*background-image:url("src/dogeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}

body {
  margin: 0;
  padding: 0;
}
.clearFix::after {
  content: '';
  visibility: hidden;
  display: block;
  clear:both;
}
.clearFixLeft{
  content: '';
  visibility: hidden;
  display: block;
  clear:left;
}
.clearFixRight{
  content: '';
  visibility: hidden;
  display: block;
  clear:right;
}
.noIncreasingPaddedDiv{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Button{
  border-radius: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: rgb(29 , 142, 198);
  padding:0.45em;
  padding-left: 0.7em;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.Button::after{
  content: '';
  background-image: url('src/btnArrow.png');
  background-size: 0.8em 0.8em;
  background-repeat: no-repeat;
  width: 0.8em;
  height: 0.8em;
  margin-left: 2.5em;
  display: inline-block;
}
/*====================================navbar==================================*/
.navbarBackgroundImage{
  width: 100%;
}
.navbar{
  width: 940px;
  margin: auto;
}
.loginListandsearchBar{
  width: 17%;
}
.navbar li+li{
  padding: 0 0.5em;
  background-image: url("src/divider.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.loginListElement>li{
  padding: 0;
}
.loginListElement>select{
  border:none;
}
.loginListElement>a{
  color: rgb(84,84,84);
  text-decoration: none;
}
.loginList>li{
  display: inline-block;
}
.navContainer{
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.5em 0;
  width: 100%;
}
.comverseLogo{
  margin-top: 1em;
}
.navList{
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 4rem;
}
.loginListandsearchBar{
  width: 20%;
}
.navListElement{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(84,84,84);
}
.navList li{
  display:inline;

}
.loginList{
  margin: auto;
  padding: 0;
  text-align:center;
  text-decoration: none;
  list-style-type: none;
}
.search{
  width: 80%;
  padding: 0.1rem;
  margin: auto;
  margin-top: 2.75rem;
  border: solid grey 0.0625rem;
  border-radius: 0.5rem;
}
.searchInput{
  float: left;
  width: 80%;
  padding: 0;
  height: 1.3em;
  border: none;
}
.divider{
  float:left;
  width: 5%;
  height: 1.3em;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url("src/divider.png");
}
.searchButton{
  float: left;
  width: 10%;
  height: 1.3em;
  margin: 0;
  border: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("src/searchBtn.png");
}
/*====================================navbar==================================*/
/*==============================upperBackround================================*/
.imagedBackground{
  width: 100%;
  padding: 2.6em 0 0 0;
  color: white;
  background-position: center;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.upperBackgroundImage{
  background-image: url('src/slide-bg-complexity.jpg');
}
.upperBackground{
  width: 940px;
  margin: auto;
}
.mainTitle{
  width: 70%;
  margin:0 0 1rem 0;
  font-size: 2.5rem;
}
.boldMainTitle{
  font-weight: bold;
}
.subTitle{
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
}
.boldSubTitle{
  font-weight: bold;
}
.radio{
  display: none;
  }
.radioStyle{
  float: left;
  display:block;
  margin: 0.2em;
  width:0.8em;
  height:0.8em;
  cursor:pointer;
  border-radius:25%;
  background-color:rgb(229 , 229, 299);
}
.radioStyle:hover{
  background-color:rgb(46 , 149 , 202);
}
.radio:checked + .radioStyle{
  background-color:rgb(46 , 149 , 202);
}
/*comverse Benefits*/
.comverseBenefits{
  width: 100%;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}
.comverseBenefit{
  width: 31.5%;
  margin: 2em 0 1em 0;
  padding: 1em 0.5em 0.2em 0.57em;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.comverseBenefitText{
  margin: 0 0 1em 0;
  text-align: left;
}
.comverseBenefitImg{
  float: left;
}
.comverseBenefitPlaceHolder{
  float: left;
  height: 0.15em;
  width: 80%;
}
.comverseBenefitImg{
  margin: 0 0.3em 0 0;
}
.moreInfo{
  font-size: 0.6em;
  font-weight: bold;
}
.comverseBenefit1{
  background-color: rgba(247,65,159,0.8);
}
.comverseBenefit2{
  background-color: rgba(106,196,61,0.8);
}
.comverseBenefit3{
  background-color: rgba(254,113,15,0.8);
}
.comverseBenefit1:hover{
  background-color: rgba(247,65,159,1);
}
.comverseBenefit2:hover{
  background-color: rgba(106,196,61,1);
}
.comverseBenefit3:hover{
  background-color: rgba(254,113,15,1);
}
/*==============================upperBackround================================*/
/*==================================solutions=================================*/
.solutionsBackground{
  padding: 3.5em 0 0 0;
  width: 100%;
  background: radial-gradient(circle, rgb(100,200,235) , rgb(85,185,215));
  color: white;
}
.solutions{
  width: 940px;
  margin: auto;
}
.solutionsTitle{
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size:2.7rem;
}
.solutionsContainer{
  text-align: center;
}
.imagesContainer{
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}
.imagesContainer li{
  text-align: center;
  width: calc((100%/6));
}
.solutionText{
  text-align: center;
}
.solutionImage{
  margin: auto;
  height: 4em;
}
.imagesContainer>li .solutionImage1::before,
.imagesContainer>li .solutionImage2::before,
.imagesContainer>li .solutionImage3::before,
.imagesContainer>li .solutionImage4::before,
.imagesContainer>li .solutionImage5::before,
.imagesContainer>li .solutionImage6::before{
  display:none;
}

.imagesContainer>li .solutionImage1::before,
.imagesContainer>li:hover .solutionImage1{
  content: url('src/solution_icon_biz-analitics_hover.png');
}
.imagesContainer>li .solutionImage2::before,
.imagesContainer>li:hover .solutionImage2{
  content: url('src/solution_icon_diti-cx_hover.png');
}
.imagesContainer>li .solutionImage3::before,
.imagesContainer>li:hover .solutionImage3{
  content: url('src/solution_icon_smart-money_hover.png');
}
.imagesContainer>li .solutionImage4::before,
.imagesContainer>li:hover .solutionImage4{
  content: url('src/solution_icon_optimize-efficnt_hover.png');
}
.imagesContainer>li .solutionImage5::before,
.imagesContainer>li:hover .solutionImage5{
  content: url('src/solution_icon_personal_hover.png');
}
.imagesContainer>li .solutionImage6::before,
.imagesContainer>li:hover .solutionImage6{
  content: url('src/solution_icon_biz-transform_hover.png');
}
.allSolutionsButton{
  text-transform: none;
  margin: 2em 0 2em 0;
}
.allSolutionsButton::after{
  margin-left: 0.5em;
}
/*==================================solutions=================================*/
/*================================lowerBackround==============================*/
.lowerBackgroundImage{
  background-image: url('src/news-and-events-bg.jpg');
}
.lowerBackround{
  width: 940px;
  margin: auto;
  color: white;
}
.newsTitle{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  margin: 0 0 2em 0;
}
.newsContainer ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.newsSubtitle{
  margin: 0 0 0.5em 0;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
}
.newsSubtitle3{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.news{
  width: 31%;
}
.eventContainer{
  text-decoration: none;
}
.newsContent{
  display: flex;
  justify-content: space-around;
  padding:5%;
  margin: 0;
  border-radius: 1.5%;
  background-color: rgba(255, 255, 255, 0.4);
}
.newsContent:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
.newsText{
  margin: 0 0 0 5%;
  color: black;
}
.date{
  border-radius: 2%;
  color: white;
  background-color: rgb(50,149,198);
}
.day{
  font-size: 3em;
  text-align: center;
  border-bottom: dotted white 0.0625rem;
}
.day p{
  margin: 0.3em 0.2em 0.1em 0.2em;
}
.month{
  text-align: center;
  font-size: 1.5em;
}
.month p{
  text-transform: uppercase;
  margin: 0.2em 0.1em 0.2em 0.1em;
}
.showNewsWarper{
  display: inline-block;
  margin: 0.75em 0 4em 0;
}
.showNewsWarper1 .newsIcon::before,
.showNewsWarper2 .newsIcon::before,
.showNewsWarper3 .newsIcon::before{
  display:none;
}

.showNewsWarper1 .newsIcon::before,
.showNewsWarper1:hover .newsIcon{
  content: url('src/eventListIconNews_hover.png');
}
.showNewsWarper2 .newsIcon::before,
.showNewsWarper2:hover .newsIcon{
  content: url('src/eventListIconEvents_hover.png');
}
.showNewsWarpe3 .newsIcon::before,
.showNewsWarper3:hover .newsIcon{
  content:url('src/eventListIconPress_hover.png');
}

.showNewsWarper:hover a{
  color: black;
}
.showNews{
  text-decoration: none;
  color: white;
}
/*================================lowerBackround==============================*/
/*================================successStories==============================*/
.successStoriesBackground{
  width: 100%;
  background-color: rgb(236,236,236);
  text-align: center;
}
.successStories{
  width: 940px;
  margin: auto;
  padding: 2.5em 0 0 0;
}
.successStoriesTitle{
  margin: 0 0 1em 0;
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  color: rgb(86,86,86);
}
.successStoriesContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.storyInfo{
  height: 11.5em;
  padding:1em 0.25em 0 0.25em;
  background-color: white;
}
.mainStoryInfo{
  padding: 0 0 1em 0;
  border-bottom: solid rgb(211,211,211) 0.1em;
}
.successStory1{
  width: 38%;
}
.successPhoto{
  float: left;
  display: inline-block;
  height: 6.3em;
  width: 30%;
  background-repeat: no-repeat;
  background-position: center;
}
.successStory1 .successPhoto{
  background-image: url("src/CB-JP-face.png");
}
.successText{
  float: left;
  display: block;
  width: 70%;
}
.successTextContent{
  margin: 0 0 0 0.5em;
  font-size: 1.25em;
  text-align: left;
}
.thirdSuccessTextContent{
  width: 100%;
}
/*PROBLEM!!!!!*/
.successTextQuote{
  float: left;
  height: 1em;
  width: 2em;
  background-image: url("src/quote-grey.png");
  background-repeat: no-repeat;
  background-position: center;
}
.successTextContent::before{
  float: left;
  height: 1em;
  width: 2em;
  background-image: url("src/quote-grey.png");
  background-repeat: no-repeat;
  background-position: center;
}
.successName{
  float: left;
  margin: 0.3em 0 0.3em 0;
  font-size: 0.9em;
  text-transform: uppercase;
  color: rgb(71,157,220);
}
.moreSuccessInfo{
  float: left;
  margin: 0;
  font-size: 0.85em;
  text-transform: capitalize;
}
.successLogo{
  float: right;
  width: 3.9rem;
  height: 3rem;
  background-position: center;
  background-repeat: no-repeat;
}
.successStory1 .successLogo{
  background-image: url("src/cable_wireless_w100px_X_h42px2.jpg");
}
.storysLogos{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.storysLogos>div{
  width: 31%;
  height: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.6rem 0 0 0;
}
.successStory1 .storysLogo1{
  background-image: url("src/mts_w108px_X_h95px.jpg");
}
.successStory1 .storysLogo2{
  background-image: url("src/Tata_Sky_w108px_X_h95px.jpg");
}
.successStory1 .storysLogo3{
  background-image: url("src/upc_w108px_X_h95px.jpg");
}
.successStory2 .successLogo{
  background-image: url("src/Jersey_Telecom_w100px_X_h42px.jpg");
}
.successStory2 .storysLogos>div{
  margin: 0 0 0.6rem 0;
}
.successStory2{
  width: 38%;
}
.successStory2 .storysLogo1{
  background-image: url("src/MAX_telecom_w108px_X_h95.jpg");
}
.successStory2 .storysLogo2{
  background-image: url("src/Kyivstarw_w108px_X_h95.jpg");
}
.successStory2 .storysLogo3{
  background-image: url("src/VIDEOCON_w108px_X_h95px.jpg");
}
.successStory2 .successPhoto{
  background-image: url("src/JT-GM-face.png");
}
.successStory3{
  width: 22%;
}
.successStory3 .successLogo{
  background-image: url("src/multilinks.jpg");
}
.successStory3 .moreInfo{
  float: none;
}
.successStory3 .storysLogos>div{
  width: 46.5%;
}
.successStory3 .storysLogo1{
  background-image: url("src/3mob_w108px_X_h95px.jpg");
}
.successStory3 .storysLogo2{
  background-image: url("src/play_w108px_X_h95px.jpg");
}
.allSuccessStories{
  margin: 3em 0 2em 0;
  text-transform: capitalize;
}
.allSuccessStories::after{
  margin: 0 0 0 1em;
}
.successPlaceHolder{
  float:left;
  width:15%;
  height: 1em;
  visibility: hidden;
}
.topButton{
  float:left;
  width: 4em;
  height: 2em;
  border-radius: 0.5em 0.5em 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('src/back_top.png');
}
.topButton:hover{
  cursor: pointer;
}
/*================================successStories==============================*/
/*====================================footer==================================*/
.footerBackground{
  width: 100%;
  background: linear-gradient(to left,rgb(37,37,37),rgb(45,45,45),rgb(33,33,33));
  color: white;
  font-size: 0.85em;
}
.footer{
  width: 940px;
  margin: auto;
  position: relative;
}
.footer a{
  text-decoration: none;
  color: white;
}
.footer a:hover{
  text-decoration: underline;
}
.footerContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerSubtitle{
  font-size: 1.2em ;
}
.footerListElement{
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}
.footerListElements{
  list-style-type: none;
  padding: 0;
}
.footerList{
  width: 25%;
}
.latestBlog{
  width: 25%;
  padding: 1%;
  background-color: rgb(63,63,63);
}
.blogsMainInfo{
  border-bottom: solid rgb(100,100,100) 0.1em;
  padding-bottom: 1em;
}
.blogsTitle{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(78,167,211);
}
.blogDate{
  float: left;
  width: 20%;
}
.blogDay{
  font-size: 3em;
}
.blogMonth{
  font-size: 2em;
}
.placeHolder{
  float: left;
  width: 70%;
  height: 0.5em;
}
.blogText{
  display: inline-block;
  float: left;
  width: 70%;
  margin: 0 0 0 6%;
  font-size: 1.3em;
  font-weight:lighter;
}
.blogIcons{
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0.5em 0 0;
  width: 1.5em;
  height: 1.5em;
}
.blogIcons1::before,
.blogIcons2::before,
.blogIcons3::before{
  display: none;
}
.blogIcons1:hover , .blogIcons1::before{
  background-image: url('src/socialMenuIcon-youtube_hover.png');
}
.blogIcons2:hover , .blogIcons2::before{
  background-image: url('src/socialMenuIcon-twitter_hover.png');
}
.blogIcons3:hover , .blogIcons3::before{
  background-image: url('src/socialMenuIcon-linkdin_hover.png');
}
.blogIcons1{
  background-image: url('src/socialMenuIcon-youtube.png');
}
.blogIcons2{
  background-image: url('src/socialMenuIcon-twitter.png');
}
.blogIcons3{
  background-image: url('src/socialMenuIcon-linkdin.png');
}
.signUpContainer{
    margin: 0 0 3em 0;
}
.signUpForm{
  border-radius: 4%;
  border:none;
}
.signUpText{
  height: 2em;
  width: 67%;
  margin: 0 0 0 2%;
}
.signUpButton{
  height: 2.15em;
  width: 30%;
  margin: 0 0 0 -0.5em;
  background-color:rgb(67,177,232);
  color: white;
}
.copyRight{
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  list-style-type: none;
  padding: 0;
}
.copyRight>li{
  display: inline;
  color: rgb(120,120,120);
}
/*====================================footer==================================*/
